* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.calculator {
  width: 12rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  background-color: rgb(225, 226, 218);

  .display {
    width: 100%;
    background-color: aliceblue;
  }

  .numpad {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .pad-field {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      .calc-btn {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
      }
    }
  }
}
